<div class="form-group">
    <label class="col-sm-2 control-label">Job number</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Job document number"/>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">Destination</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Place and/or project"/>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">Date</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Date number"/>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">Receives</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Name on the person"/>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label"></label>
    <div class="col-sm-10">
        <a href="#" id="show-product-list">
            <button class="btn btn-lg btn-info" type="button">
                <i class="fa fa-bars"></i> + Add products
            </button>
        </a>
    </div>
</div>
<div id="productInvoiced">
    <table class="table table-striped" id="products-table">
        <thead>
            <tr>
                <th>Item</th>
                <th>Quantity</th>
                <th>Measure unit</th>
                <th>Cost/Unit</th>
                <th>Cost</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" placeholder="" id="item0"></td>
                <td><input type="text" placeholder="" id="quantity0"></td>
                <td>XXX</td>
                <td><input type="text" placeholder="35P" id="costUnit0"></td>
                <td><input type="text" placeholder="Quantity * Cost" id="cost0"></td>
            </tr>
        </tbody>
    </table>
    <input type="hidden" value="1" id="row-number" />
<div class="form-group">
    <label class="col-sm-2 control-label"></label>
    <div class="col-sm-10">
        <a href="#" id="add-product-row">
            <button class="btn btn-lg btn-info" type="button">
                <i class="fa fa-bars"></i> + Add one product
            </button>
        </a>
        <a href="#" id="del-product-row">
            <button class="btn btn-lg btn-warning" type="button">
                <i class="fa fa-bars"></i> - Remove row
            </button>
        </a>        
    </div>
</div>    
</div>
