{% extends "TeamERPStoresBundle::layout.html.twig"%}
{% block content %}
    <div class="form-header"><h1>New job order to issue </h1></div>     
        <div class="form">
            <form class="form-horizontal">
                {% include 'TeamERPStoresBundle:Issue:issue_form.html.twig' %}
                {% include 'TeamERPStoresBundle::action_save_controls.html.twig' %}                
            </form>
        </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/teamerpstores/js/functions.js') }}"></script>
{% endblock %}