<div class="form-group">
    <label class="col-sm-2 control-label">Category name</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="e.g. cables or doors"/>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">Description</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Long description"/>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">Category code</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Code for this category"/>
    </div>
</div>
{% include 'TeamERPStoresBundle::action_save_controls.html.twig' %}