<div class="form-group">
        {% for key,category in categories %}
            <input type="radio" name="categories-group" value="{{category.id}}" class="form-inline"/> {{category.name}} {{category.description}}
        {% endfor %}
</div>