<div class="form-group">
    <label class="col-sm-2 control-label">Invoice number</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Supplier document number"/>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">Supplier</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Supplier information"/>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">Date</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Date number"/>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label"></label>
    <div class="col-sm-10">
        <a href="#" id="show-product-list">
            <button class="btn btn-lg btn-info" type="button">
                <i class="fa fa-bars"></i> + Add products
            </button>
        </a>
    </div>
</div>
<div id="productInvoiced">
    <table class="table table-striped">
    <thead>
        <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Measure unit</th>
            <th>Cost/Unit</th>
            <th>Cost</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
<div class="form-group">
    <label class="col-sm-2 control-label"></label>
    <div class="col-sm-10">
        <a href="#" id="add-product-row">
            <button class="btn btn-lg btn-info" type="button">
                <i class="fa fa-bars"></i> + Add one product
            </button>
        </a>
    </div>
</div>    
</div>
