        <table class="table table-striped" id="products-table">
            <thead>
                <tr>
                    <th>Actions</th>
                    <th>Supplier</th>
                    <th>^Date</th>
                    <th>User</th>
                    <th>Invoice</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>view | Undo</td>
                    <td>FSM</td>
                    <td>2015-03-24</td>
                    <td>Kay</td>
                    <td>00113</td>
                    <td>Done</td>
                </tr>
                <tr>
                    <td>view | Execute | Cancel</td>
                    <td>Steel Junction</td>
                    <td>2015-03-23</td>
                    <td>Lily</td>
                    <td>00123</td>
                    <td>Pending</td>
                </tr>
            </tbody>
        </table>
