{% extends "TeamERPStoresBundle::layout.html.twig"%}
{% block content %}
    <div class="form-header"><h1>New invoice receipt</h1></div>
    {% include 'TeamERPStoresBundle:Invoice:invoice_list_table.html.twig' %}
{% endblock %}
