<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Actions</th>
                <th>Measure Unit Name</th>
                <th>Abreviation</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Edit | delete</td>
                <td>Meters</td>
                <td>m</td>
            </tr>
            <tr>
                <td>Edit | delete</td>
                <td>Kilograms</td>
                <td>Kg</td>
            </tr>                
            <tr>
                <td>Edit | delete</td>
                <td>...</td>
                <td>...</td>
            </tr>
        </tbody>
    </table>
</div>
