{% extends "TeamERPStoresBundle::layout.html.twig"%}
{% block content %}
    <div class="form-header"><h1>{{action}} measure unit</h1></div>
    {% include 'TeamERPStoresBundle::status_message.html.twig' %}
    <div class="form">
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        {{ form_errors(form, {'attr': {'class': 'warning'}}) }}
            {% include 'TeamERPStoresBundle:Configuration:measure_unit_form.html.twig' %}
            {% include 'TeamERPStoresBundle::action_save_controls.html.twig' %}
        {{ form_end(form) }}
    </div>
            {% include 'TeamERPStoresBundle:Configuration:measure_unit_list.html.twig' %}
{% endblock %}

