{% extends "TeamERPStoresBundle::layout.html.twig"%}
{% block content %}
    <div class="form-header"><h1>New measure unit</h1></div>
    <div class="form">
        <form class="form-horizontal">
            {% include 'TeamERPStoresBundle:Configuration:measure_unit_form.html.twig' %}
        </form>
    </div>
            {% include 'TeamERPStoresBundle:Configuration:measute_unit_list.html.twig' %}
{% endblock %}

