{% extends "TeamERPBaseBundle:General:general.html.twig" %}

{% block leftBar %}
    <div id="left-side-bar" class="col-lg-2 col-md-2 hidden-sm hidden-xs">
        {{ knp_menu_render('TeamERPSalesBundle:Menu:BuilderLeftSideBarSales')}}
    </div>
{% endblock %}