    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                <i class="fa fa-book"></i> Agenda
            </h3>
        </div>
        <div class="panel-body">
            <div class="list-group">
                <a class="list-group-item" href="#">option 1</a>
                <a class="list-group-item" href="#">option 1</a>
                <a class="list-group-item" href="#">option 1</a>
                <a class="list-group-item" href="#">option 1</a>
                <a class="list-group-item" href="#">option 1</a>
            </div>
        </div>
    </div> 
   <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                <i class="fa fa-list"></i> To-do
            </h3>
        </div>
        <div class="panel-body">
            <div class="list-group">
                <a class="list-group-item" href="#">option 1</a>
                <a class="list-group-item" href="#">option 1</a>
                <a class="list-group-item" href="#">option 1</a>
                <a class="list-group-item" href="#">option 1</a>
                <a class="list-group-item" href="#">option 1</a>
            </div>
        </div>
    </div> 
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                <i class="fa fa-envelope"></i> Messages 
                <span class="badge"><a class="">42</a></span>
            </h3>
        </div>
        <div class="panel-body">
            a
        </div>
    </div> 

