<div class="form-group">
    <label class="col-sm-2 control-label">Product name</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="e.g. PVC Pipe 3 cm "/>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">Description</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Long description"/>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">Code</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Code for this category"/>
    </div>
</div>

