{% extends "TeamERPStoresBundle::layout.html.twig"%}
{% block content %}
    <div class="form">
        <form class="form-horizontal">
            {% include 'TeamERPStoresBundle:Product:search_form.html.twig' %}
            {% include 'TeamERPStoresBundle::action_search_controls.html.twig' %}
        </form>
    </div>
    <div class="search-table">
        {% include 'TeamERPStoresBundle:Product:search_table.html.twig' %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/teamerpstores/js/functions.js') }}"></script>
{% endblock %}