<table class="table table-striped">
    <thead>
        <tr>
            <th>Actions</th>
            <th>Category Name</th>
            <th>Description</th>
            <th class="hidden-md hidden-sm hidden-xs">Code</th>
            <th class="hidden-md hidden-sm hidden-xs">Quantity</th>
            <th class="hidden-md hidden-sm hidden-xs">Measure unit</th>
            <th class="hidden-md hidden-sm hidden-xs">Reorder point</th>
            <th class="hidden-md hidden-sm hidden-xs">Cost (U)</th>
            <th class="hidden-md hidden-sm hidden-xs">Cost</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{% include 'TeamERPStoresBundle:Product:search_result_actions.html.twig' %}</td>
            <td>Metal Door 200x50cm</td>
            <td>Dor for reinforced units</td>
            <td class="hidden-md hidden-sm hidden-xs">AB:AB:CA</td>
            <td class="hidden-md hidden-sm hidden-xs">56</td>
            <td class="hidden-md hidden-sm hidden-xs">U</td>
            <td class="hidden-md hidden-sm hidden-xs">15</td>
            <td class="hidden-md hidden-sm hidden-xs">750.00</td>
            <td class="hidden-md hidden-sm hidden-xs">42000.00</td>
        </tr>                
        <tr>
            <td>{% include 'TeamERPStoresBundle:Product:search_result_actions.html.twig' %}</td>
            <td>Screws 3x40mm</td>
            <td>screws for fixing walls</td>
            <td class="hidden-md hidden-sm hidden-xs">AB:FB:DC</td>
            <td class="hidden-md hidden-sm hidden-xs">60</td>
            <td class="hidden-md hidden-sm hidden-xs">Boxes</td>
            <td class="hidden-md hidden-sm hidden-xs">20</td>
            <td class="hidden-md hidden-sm hidden-xs">40.00</td>
            <td class="hidden-md hidden-sm hidden-xs">2400.00</td>
        </tr>
        <tr>
            <td>{% include 'TeamERPStoresBundle:Product:search_result_actions.html.twig' %}</td>
            <td>PVC pipe 3''</td>
            <td>flexible PVS pipe for cab;ing protection</td>
            <td class="hidden-md hidden-sm hidden-xs">AT:BG:DC</td>
            <td class="hidden-md hidden-sm hidden-xs">1000</td>
            <td class="hidden-md hidden-sm hidden-xs">m</td>
            <td class="hidden-md hidden-sm hidden-xs">100</td>
            <td class="hidden-md hidden-sm hidden-xs">5.00</td>
            <td class="hidden-md hidden-sm hidden-xs">5000.00</td>
        </tr>    
        <tr>
            <td><strong>Totals</strong></td>
            <td></td>
            <td></td>
            <td class="hidden-md hidden-sm hidden-xs"></td>
            <td class="hidden-md hidden-sm hidden-xs">1116</td>
            <td class="hidden-md hidden-sm hidden-xs"></td>
            <td class="hidden-md hidden-sm hidden-xs"></td>
            <td class="hidden-md hidden-sm hidden-xs"></td>
            <td class="hidden-md hidden-sm hidden-xs"><strong>49400.00</strong></td>
        </tr>
    </tbody>
</table>

