{% extends "TeamERPSalesBundle::layout.html.twig"%}
{% block content %}
<form class="form-horizontal" role="form">
  <div class="form-inline">
      <label for="SearchCriteria" class="col-sm-2 control-label" id="AdresseNameNotCompnay">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="SearchCriteria" placeholder="Criteria" size="20"> 
            <a href=""><i class="fa fa-search"></i> Search</a>
        </div>
  </div>  
</form> 
{% endblock %}