<div class="form-group">
    <label for="UnitType" class="col-sm-2 control-label">Size</label>
    <div class="col-sm-10">
        <select>
            <option>2x3m</option>
            <option>3x3m</option>
            <option>4x4m</option>
            <option>6x3m</option>
            <option>Custom</option>
        </select> 
    </div>
</div>
<div class="form-group">
    <label for="ContactType" class="col-sm-2 control-label">Type of busines</label>
    <div class="col-sm-10">
        <label class="checkbox-inline">
            <input type="checkbox" id="PurchaseOperationCheckbox" value="option1"> Purchase 
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" id="RentalOperationCheckbox" value="option2"> Rental
        </label>
    </div>
</div>