{# empty Twig template #}
Here a new transport enquiry form should be filled.
  <div class="form-group">
    <label for="LocatioPlace" class="col-sm-2 control-label">Location</label>
    <div class="col-sm-10">
          <input type="text" class="form-control" id="LocatioPlace" placeholder="Location to deliver the cargo"> 
    </div>
  </div>
  <div class="form-group">
    <label for="DistanceKms" class="col-sm-2 control-label">Distance</label>
    <div class="col-sm-10">
          <input type="text" class="form-control" id="DistanceKms" placeholder="Distance in Kilometers"> 
    </div>
  </div>