<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <a href="#">
            <button id="customer_search" class="fa fa-search btn btn-primary" name="product[search]" type="submit">Search product</button>
        </a>
    </div> 
</div>