{% extends "TeamERPBaseBundle:General:general.html.twig" %}
{% block leftBar %}
    <div id="left-side-bar" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        {{ knp_menu_render('sales_side_left')}}
    </div>        
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
